[user]
	name = Peter Malmberg
	email = peter.malmberg@gmail.com

[core]
	editor = jed
[diff]
	external = /srv/dev-disk-by-uuid-cac1320a-3455-43b4-aa30-ce3051130d7e/home/pmg/pmg/bin/bin/git_diff_meld.py
[push]
	default = simple
[alias]
  co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short 
	type = cat-file -t 
	dump = cat-file -p
  deleted = log --diff-filter=D --summary
[init]
	defaultBranch = master
