#
# General .gitignore file
#
# Peter Malmberg <peter.malmberg@gmail.com> 
# 
#

# Temporary files
#--------------------------------------------------------------------
*.bak
*.bck
*.bk
*.backup
*.tmp
*.old
*.ori
*.orig
*.rej
*~
.#*
*.log
*.swp
*.swap

# Revision control
#--------------------------------------------------------------------
.svn
.git

# Libre Office
#--------------------------------------------------------------------
.~lock.*#

# MS Office
#--------------------------------------------------------------------
~$*.doc*
~$*.xls*
~$*.ppt*
*.xlk
*.~vsd*

