#
# General .gitignore file
#
# Peter Malmberg <peter.malmberg@gmail.com> 
# 
#

# Temporary files
#--------------------------------------------------------------------
*.tmp
*.old
*.orig
*~
*.log


# Revision control
#--------------------------------------------------------------------
.svn
.git


